{% extends "base-form.jinja" %}
{% block content %}
    <form class="new-display-form" action="/pets/{{pet.id}}" method="post">
        <label for="name">Pet Name</label>
        <input type="text" name="name" id="name" value="{{pet.name}}">
        <label for="dob">DOB</label>
        <input type="text" name="dob" id="dob" value="{{pet.dob}}">
        <label for="species">Species</label>
        <select id="species" name="species">
            {% for spec in species %}
                <option value={{spec.id}} {% if spec.id == pet.species.id %} selected="selected"
                {% endif %}> {{spec.name}} </option>
            {% endfor %}
        </select>
        <label for="breed">Breed</label>
        <input type="text" name="breed" id="breed" value="{{pet.breed}}">
        <label for="sex">Sex</label>
        <input type="text" name="sex" id="sex" value="{{pet.sex}}">
        <label for="weight">Weight</label>
        <input type="text" name="weight" id="weight" value="{{pet.weight}}">
        <label for="chipped">Has Chip</label>
        <select id="chipped" name="chipped">
            <option value="True" {% if pet.chipped == True %} selected="selected" {% endif %}> Yes </option>
            <option value="False" {% if pet.chipped == False %} selected="selected" {% endif %}> No </option>
        </select>
        <label for="owner">Pet's Owner</label>
        <select id="owner" name="owner">
            {% for owner in owners %}
                  <option value={{owner.id}} {% if pet.owner.id == owner.id %} selected="selected" {% endif %}> {{owner.full_name()}} </option>
            {% endfor %}
        </select>
        <label for="veterian">Pet's Veterian</label>
        <select id="veterian" name="veterian">
            {% for vet in vets %}
                  <option value={{vet.id}} {% if pet_veterian.id == vet.id %} selected="selected" {% endif %}> {{vet.full_name()}} </option>
            {% endfor %}
        </select>
        <label for="treatment">Treatment</label>
        <textarea id="treatment" name="treatment"></textarea>
        <input type="submit" value="Submit">
    </form>
{% endblock content %} 