{% extends "base.jinja" %}
{% block aside %}
    <a href="/pets/new-pet"><h2>Add a New Pet</h2></a>
{% endblock aside %}

{% block content %}


    {% for pet in all_pets_to_display %}
        <a href="/pets/{{pet.id}}">
            <div>
                
                <h2>Name: {{pet.name}}</h2>
                <h2>Spicies: {{pet.species}}</h2>
                <h2>Sex: {{pet.sex}}</h2>
                <h2>Chip: {{pet.chip_number}}</h2>
                <h2>Owner: {{pet.owner.full_name()}}</h2>
            </div>
            <form action="/pets/{{pet.id}}/delete" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </a>
    {% endfor %}

{% endblock content %}