{% extends "base.jinja" %}
{% block aside %}
    <a href="/vets/new-veterian"><h2>Add a New Veterian</h2></a>
{% endblock aside %}

{% block content %}
    <section>
        <div>
            <h2>{{veterian.full_name()}}</h2>
            <h4>DOB: {{veterian.dob}}</h4>
            <h4>Address: {{veterian.address}}</h4>
            <h4>Email: {{veterian.email}}</h4>
            <h4>Phone: {{veterian.phone_number}}</h4>
            <form action="/vets/{{veterian.id}}/delete" method="post">
                <input type="submit" value="Delete"/>
            </form>
            <form action="/vets/{{veterian.id}}/edit" method="post">
                <input type="submit" value="Edit"/>
            </form>
        </div>
        <img src="{{veterian.img}}">
    </section>
    <section>
        <h2>Pets Under my Care</h2>
        <div>
            {% for pet in list_of_pets %}
                <a href="/pets/{{pet.id}}">
                    <div>
                        <h4>Name: {{pet.name}}</h4>
                        <h4>Spicies: {{pet.species}}</h4>
                        <h4>Sex: {{pet.sex}}</h4>
                        <h4>Chip: {{pet.chip_number}}</h4>
                    </div>
                    <form action="/pets/{{pet.id}}/delete" method="post">
                        <input type="hidden" value="{{veterian.id}}" name="id"/>
                        <input name="veterian_page" type="submit" value="Delete"/>
                    </form>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}