{% extends "base.jinja" %}
{% block aside %}
    <a href="/owners/new-owner"><h2>Add a New Customer</h2></a>
{% endblock aside %}

{% block content %}
    <div></div>
        <h2>All owners</h2>
        <ul>
            {% for owner in display_owners %}
                <li>
                    <a href="/owners/{{owner.id}}">
                            <h2>{{owner.full_name()}}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}