{% extends "base.jinja" %}
{% block aside %}
    <a href="/owners/new-owner"><h2>Add a New Customer</h2></a>
{% endblock aside %}

{% block content %}
    <div class="people-display">
        <section class="people-img">
            <div>
                <h2>{{owner.full_name()}}</h2>
                <h4>DOB: {{owner.dob}}</h4>
                <h4>Address: {{owner.address}}</h4>
                <h4>Email: {{owner.email}}</h4>
                <h4>Phone: {{owner.phone_number}}</h4>
                <div class="delete-edit">
                    <form action="/owners/{{owner.id}}/delete" method="post">
                            <button class="delete"><i class="fa fa-trash-o fa-3x" style="color:red"></i></button>
                    </form>
                    <form action="/owners/{{owner.id}}/edit" method="post">
                        <button class="edit"><i class="fa fa-pencil-square-o fa-3x" style="color:rgb(112, 167, 29)"></i></button>
                
                        {# <input type="submit" value="Edit"/> #}
                    </form>
                </div>
            </div>
            <img src="{{ url_for('static', filename='no_img.png') }}" width="150" height="200">
        </section>
        <section>
            <h2> All my Pets</h2>
            <div class = "people-pet-display">
                {% for pet in list_of_pets %}
                    
                    <a href="/pets/{{pet.id}}">
                        <div class="pets-display">
                            <div class="pets-info-display">
                                <h4>Name: {{pet.name}}</h4>
                                <h4>Spicies: {{pet.species}}</h4>
                                <h4>Sex: {{pet.sex}}</h4>
                                <h4>Chip: {{pet.chip_number}}</h4>
                            </div>
                            <form action="/pets/{{pet.id}}/delete" method="post">
                                {# <input type="hidden" value="{{owner.id}}" name="id"/> #}
                                <button class="delete-button" name="owner_page" value="{{owner.id}}"><i class="fa fa-trash-o fa-1x" style="color:red"> </i></button>
                                {# <input name="owner_page" type="submit" value="Delete"/> #}
                            </form>
                        </div>
                    </a>
                
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock content %}