
body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color: #f4edea;
    padding: 0;
    margin: 0;
}
html{
  padding: 0;
  margin: 0;
}
header {
    display: flex;
    flex-direction: column;
}
a:hover{
  font-size: 17px;
}
ul li{ 
    
    padding-right: 10px;
    list-style: none;
    color: white;
    font-size: 1rem;
}
a {
    text-decoration: none;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cea07e;
}
header div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0A3200;
    margin: 0;
    height: 7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: aliceblue;
    gap: 20px;
}
header nav{
    background-color: #70A288;
    height: 40px;
    align-items: center;
}
header nav ul{
    display: flex;
}



header nav ul li a{
    text-decoration:  none;
    color: white;
    font-size: 18px;
}
header nav ul li a:hover{
    text-decoration:  underline;
    
}

main{
  display: grid;
  grid-template-columns: 20% 80%;
  margin-left: 20;
}
.main-form{
  
  display: flex ;
  justify-content: center;
  
}
.new-form{
  display: flex ;
  justify-content: center;
}
.new-display-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
.container {
  display: grid;
  justify-content: center;
  gap: 10px;
  align-items: stretch;
  }
  
.row {
  grid-template-columns: 30% 30% 30%;
}

.aside{
  grid-template-columns: 80% 20%
}
.people-pet-display{
  /* width: 500px; */
  display: flex;
}
.people-display{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:  25px;
}
.people-img{
  display: flex;
  gap: 30px;
  
}
.delete-edit{
  display: flex;
  justify-content: space-between;
}


.pets-display{
  background-color: #6d545d;
  border: solid ;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px;
}
.pets-info-display{
      font-size: 10px;
      align-items: center;
      color: aliceblue;
}
.button{
  align-items:  stretch;
  background-color: #6d545d;

}
.buttons {
  margin-top: 10px;
  margin-left: 2px;
  font-size: 1.4em;
  color: #aab8c2;
}
.buttons i {
  width: 80px;
}
.trash-button{
  display: contents;
  font-size: 65%;
}
.pet-plus-img{
  display: flex;
  justify-content:flex-start;
  grid-area: petinfo;
}
.owner-plus-img{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  grid-area: ownerinfo;
}
.treatment{
  grid-area: treatment;
}
.list-of-people li{
  list-style:square;
  color: #0A3200;
}
.single-pet{
  display: grid;
  grid-template-areas: "petinfo ownerinfo" "treatment treatment" "treatment treatment";

}

.columns{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.columns li{
  color: black;
}
  
/* Dropdown Button */
.dropbtn {
  background-color: #70A288;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #70A288;}
