
body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color: #f4edea;
}

header {
    display: flex;
    flex-direction: column;
}
ul li{ 
    
    padding-right: 10px;
    list-style: none;
    color: white;
    font-size: 1rem;
}
a {
    text-decoration: none;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cea07e;
}
header div{
    display: flex;
    justify-content: flex-start;
    background-color: #0A3200;
    margin: 0;
    height: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: aliceblue;
}
header nav{
    background-color: #70A288;
    height: 40px;
    align-items: center;
}
header nav ul{
    display: flex;
}



header nav ul li a{
    text-decoration:  none;
    color: white;
    font-size: 18px;
}
header nav ul li a :hover{
    text-decoration:  underline;
    
}

main{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 20;
}
.container {
    display: grid;
    justify-content: center;
    gap: 10px;
  }
  
  .row {
    grid-template-columns: 25% 25% 25%;
  }

  .pets-display{
    background-color: #6d545d;
    border: solid ;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 15px;
  }
  .pets-info-display{
        font-size: 10px;
        align-items: center;
        color: aliceblue;
  }
  .button{
    align-items:  stretch;
    background-color: #6d545d;

  }
  .pet-plus-img{
    display: flex;
    justify-content: center;
    grid-area: petinfo;
  }
  .owner-plus-img{
    display: flex;
    justify-content: center;
    grid-area: ownerinfo;
  }
  .treatment{
    grid-area: treatment;
  }
  .single-pet{
    display: grid;
    grid-template-areas: "petinfo ownerinfo" "treatment treatment" "treatment treatment";

  }

  .new-pet{
    display: flex;
    flex-direction: column;
    fle
    flex-wrap: wrap;
  }
  

