<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Injured Turtle</title>
</head>
<body>
  <header>
    <div>
      <a href="/"><img src="{{ url_for('static', filename='sick_turtle.jpg') }}" alt="Sick Turtle logo"  width="100" height="100"></a>
      <h1> Pano's Veterinary Care</h1>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/pets">All Pets</a></li>
        <li><a href="/owners">All Customers</a></li>
        <li><a href="/vets">All Vets</a></li>
        <li><a href="/appointments">Appointments</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-form"> 
    <div class="new-form">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>